
.landing-page{
  background-image: url('/home/purumshiva/Downloads/hello/crudoperations/src/images/Mars.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-box{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
table, th, td {
  border:1px solid black;
}
.viewtable-btn {
  width: 7rem;
  height: 2.3rem;
  margin-top: 500px;
  background-color: #00d7b9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
.btns {
  display: flex;
  justify-content: space-between;
}
h1 {
  text-align: center;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 20px auto;
}

.table-div {
  margin-top: 20px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
}

th, td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #00d7b9;
  color: white;
}

.create-button{
  width: 10rem;
  height: 2.5rem;
  margin: 20px;
  background-color: #00d7b9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-button:hover:hover {
  background-color: #008080;
}
.update-button{
  width: 5rem;
  height: 1.8rem;
  margin-left: 2px;
  background-color: #00d7b9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.update-button:hover:hover {
  background-color: #008080;
}
.form-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 60%;
  left: 53%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ddd;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

label {
  margin-right: 10px;
}

.form-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.form-popup input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.form-popup button {
  display: inline-block;
  margin-right: 4px; 
}
.create{
  width: 6rem;
  height: 1.5rem;
  background-color: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
  justify-content: flex-start;
  margin-bottom: 10px;
  margin-left: 1px;
  display: inline-block;
  margin: 2%;


}
.cancel{
  width: 6rem;
  height: 1.5rem;
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
  justify-content: flex-end;
  margin: 2%;

}
.popup-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.popup-message p {
  margin: 0;
}
